$chessboard-bg-dark: #8b6533
$chessboard-bg-light: #ffffff

$text-colour: #000000
$secondary-text-colour: #444444

$footer-bg: #bbbbbb
$button-bg: #d8d8d8
$button-hover-colour: #000000
$button-active-bg: #aaaaaa
