<!DOCTYPE html>

<html>
  <head>
    <script src="https://unpkg.com/node-forge@0.7.0/dist/forge.min.js"></script>
    <script src="https://unpkg.com/socket.io-client@3.0.1/dist/socket.io.min.js"></script>
    <script src='/static/js/index.js' type='module'></script>
    <link rel='stylesheet' href='/static/css/style.css'/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="/" class="button">Home</a>
      <a href="/accounts/login" class="button --logged-out">Login</a>
      <a href="#" class="button --logged-in">Play</a>
      <button onclick="logout()" class="button --logged-in">Logout</button>
      <a href="/accounts/me" class="button --logged-in --account-link --account-name">Loading...</a>
    </nav>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      <ul class="footer-links">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contribute</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
      <p>We hope you enjoy this site. Feel free to contact us using the link above if you have any questions, complaints or suggestions.</p>
      <p>© Kasupel 2020</p>
    </footer>
  </body>
</html>
