{% extends "base.njk" %}
{% block head %}
  <link rel='stylesheet' href='/static/css/style.css'/>
  <title>{{ error.status }} Error - Kasupel</title>
{% endblock %}
{% block body %}
  <h1>{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
{% endblock %}
