{% extends "base.njk" %}
{% block head %}
  <script src='/static/js/pages/login.js' type='module'></script>
  <link rel='stylesheet' href='/static/css/forms.css'/>
  <title>Login - Kasupel</title>
{% endblock %}
{% block body %}
  <table class="table-form">
    <tr>
      <td><label for="username-input">Username:</label></td>
      <td>
        <input id="username-input" type="text" placeholder="Enter your username"/>
      </td>
    <tr>
      <td><label for="password-input">Password:</label></td>
      <td>
        <input id="password-input" type="password"
            placeholder="Enter your password"/>
      </td>
    </tr>
    <tr><td colspan="2">
      <button class="form-button" onclick="login()">Login</button>
    </td></tr>
  </table>
{% endblock %}
